<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<body>
<!-- PreLoader -->
<div th:fragment="preloader" class="loader">
    <div class="loader-inner">
        <div class="circle"></div>
    </div>
</div>
<!-- PreLoader Ends -->

<!-- header -->
<div th:fragment="header" class="top-header-area" id="sticker">
    <div class="container-fluid header-container">
        <div class="row">
            <div class="col-lg-12 col-sm-12 text-center">
                <div class="main-menu-wrap">

                    <!-- logo -->
                    <div class="site-logo">
                        <a th:href="@{/}">
                            <img th:src="@{/images/iconoGEX.png}" alt="GEX">
                        </a>
                    </div>

                    <!-- menu -->
                    <nav class="main-menu">
                        <ul>
                            <li>
                                <a th:href="@{/}">Inicio</a>
                            </li>
                            <li><a th:href="@{/categories}">Categorías</a>
                                <ul class="sub-menu">
                                    <li th:each="category : ${categories}">
                                        <a th:href="@{/categories/{id}(id=${category.id})}" th:text="${category.name}">Nombre de la categoría</a>
                                    </li>
                                </ul>
                            </li>
                            <li><a th:href="@{/products}">Videojuegos</a></li>
                            <li><a th:href="@{/brands}">Desarrolladoras</a>
                                <ul class="sub-menu">
                                    <li th:each="brand : ${brands}">
                                        <a th:href="@{/brands/{id}(id=${brand.id})}" th:text="${brand.name}">Nombre de la desarrolladora</a>
                                    </li>
                                </ul>
                            </li>
                            <li><a th:href="@{/about}">Sobre Nosotros</a></li>
                            <li><a th:href="@{/terms}">Condiciones de Uso</a></li>
                            <li>
                                <div class="header-icons">

                                    <div class="user-menu">

                                        <!-- Usuario anónimo -->
                                        <div sec:authorize="isAnonymous()">
                                            <a href="#" class="user-icon">
                                                <i class="fas fa-user"></i>
                                            </a>

                                            <div class="user-dropdown">
                                                <a th:href="@{/users/login}">Iniciar sesión</a>
                                                <a th:href="@{/users/register}">Registrarse</a>
                                            </div>
                                        </div>

                                        <!-- Usuario logado -->
                                        <div sec:authorize="isAuthenticated()">
                                            <a href="#" class="user-icon">
                                                <i class="fas fa-user"></i>
                                                <span sec:authentication="name"></span>
                                            </a>

                                            <div class="user-dropdown">
                                                <a th:href="@{/users/profile}">Perfil</a>
                                                <a th:href="@{/users/logout}">Cerrar sesión</a>
                                            </div>
                                        </div>

                                    </div>
                                    <a class="shopping-cart" href="#">
                                        <i class="fas fa-shopping-cart"></i>
                                    </a>
                                    <a class="mobile-hide search-bar-icon" href="#">
                                        <i class="fas fa-search"></i>
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </nav>

                    <a class="mobile-show search-bar-icon" href="#">
                        <i class="fas fa-search"></i>
                    </a>

                    <div class="mobile-menu"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end header -->

<!-- breadcrumb -->
<div th:fragment="breadcumb(subtitulo, titulo)" class="breadcrumb-section breadcrumb-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 text-center">
                <div class="breadcrumb-text">
                    <p th:text="${subtitulo}" style="color: white">Subtitulo de info de la página</p>
                    <h1 th:text="${titulo}">Título de info de la página</h1>


                </div>
            </div>
        </div>
    </div>
</div>
<!-- end breadcrumb -->

<!-- search area -->
<div th:fragment="busqueda" class="search-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <span class="close-btn"><i class="fas fa-window-close"></i></span>
                <div class="search-bar">
                    <div class="search-bar-tablecell">
<!--                        <h3>Buscar por:</h3>-->
                        <form method="get" th:action="@{/products/search}">
                            <label for="nD">Nombre / Descripción: </label>
                            <input type="text" id="nD" placeholder="Nombre o Descripción" name="nD">

                            <label for="mP">Precio máximo (€): </label>
                            <input type="number" id="mP" name="mP" placeholder="0.0">

                            <label for="m">Marca: </label>
                            <select name="m" id="m">
                                <option value="">Cualquier marca</option>
                                <th:block th:remove="all-but-first">
                                    <option value="">Valor por defecto</option>
<!--                                    <option th:each="brand : ${brands}" th:value="${brandId}" th:text="${brand.name}">Valor</option>-->
                                </th:block>
                            </select>

                            <label for="c">Categorías: </label>
                            <select name="c" id="c">
                                <option value="">Cualquier categoría</option>
                                <th:block th:remove="all-but-first">
                                    <option value="">Valor por defecto</option>
<!--                                    <option th:each="category : ${categories}" th:value="${categoryId}" th:text="${category.name}">Valor</option>-->
                                </th:block>
                            </select>

                            <label for="tP">Tamaño de página: </label>
                            <select name="tP" id="tP">
                                <option value="">Por defecto</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="5">5</option>
                                <option value="10">10</option>
                                <option value="50">50</option>
                            </select>

                            <label for="oP">Ordenar por: </label>
                            <select name="oP" id="oP">
                                <option value="">Por defecto</option>
                                <option value="name">Nombre</option>
                                <option value="priceMinMax">Precio de menor a mayor</option>
                                <option value="priceMaxMin">Precio de mayor a menor</option>
                                <option value="stockMinMax">Stock de menor a mayor</option>
                                <option value="stockMaxMin">Stock de mayor a menor</option>
                            </select>
                            <button type="submit">Buscar <i class="fas fa-search"></i></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<!-- end search area -->
</html>