<th:block th:fragment="scripts">
<!-- js -->
<script th:src="@{/js/jquery-1.11.3.min.js}"></script>
<script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/js/jquery.countdown.js}"></script>
<script th:src="@{/js/jquery.isotope-3.0.6.min.js}"></script>
<script th:src="@{/js/waypoints.js}"></script>
<script th:src="@{/js/owl.carousel.min.js}"></script>
<script th:src="@{/js/jquery.magnific-popup.min.js}"></script>
<script th:src="@{/js/jquery.meanmenu.min.js}"></script>
<script th:src="@{/js/sticker.js}"></script>
<script th:src="@{/js/main.js}"></script>
</th:block>
