<!DOCTYPE html>
<html lang="es" xmlns:th="https://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Responsive Bootstrap4 Shop Template">

	<title>GEX - Categorías de Videojuegos</title>

	<!-- favicon -->
	<link rel="shortcut icon" type="image/png" th:href="@{/images/faviconGEX.png}">

	<!-- google font (externas, se dejan igual) -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet">

	<!-- css -->
	<link rel="stylesheet" th:href="@{/css/all.min.css}">
	<link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}">
	<link rel="stylesheet" th:href="@{/css/owl.carousel.css}">
	<link rel="stylesheet" th:href="@{/css/magnific-popup.css}">
	<link rel="stylesheet" th:href="@{/css/animate.css}">
	<link rel="stylesheet" th:href="@{/css/meanmenu.min.css}">
	<link rel="stylesheet" th:href="@{/css/main.css}">
	<link rel="stylesheet" th:href="@{/css/responsive.css}">
</head>

<body>

<!-- PreLoader -->
<div class="loader">
	<div class="loader-inner">
		<div class="circle"></div>
	</div>
</div>
<!-- PreLoader Ends -->

<!-- header -->
<div class="top-header-area" id="sticker">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 col-sm-12 text-center">
				<div class="main-menu-wrap">

					<!-- logo -->
					<div class="site-logo">
						<a th:href="@{/}">
							<img th:src="@{/images/iconoGEX.png}" alt="GEX">
						</a>
					</div>

					<!-- menu -->
					<nav class="main-menu">
						<ul>
							<li class="current-list-item">
								<a th:href="@{/}">Inicio</a>
							</li>
							<li><a th:href="@{/categories}">Categorías</a>
								<ul class="sub-menu">
									<li th:each="category : ${categories}">
										<a th:href="@{categories/{id}(id=${category.id})}" th:text="${category.name}">Nombre de la categoría</a>
									</li>
								</ul>
							</li>
							<li><a th:href="@{/about.html}">Sobre Nosotros</a></li>
							<li><a th:href="@{/terms}">Condiciones de Uso</a></li>
							<li>
								<div class="header-icons">
									<a class="shopping-cart" th:href="@{/cart}">
										<i class="fas fa-shopping-cart"></i>
									</a>
									<a class="mobile-hide search-bar-icon" href="#">
										<i class="fas fa-search"></i>
									</a>
								</div>
							</li>
						</ul>
					</nav>

					<a class="mobile-show search-bar-icon" href="#">
						<i class="fas fa-search"></i>
					</a>

					<div class="mobile-menu"></div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- end header -->

<!-- breadcrumb -->
<div class="breadcrumb-section breadcrumb-bg">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 offset-lg-2 text-center">
				<div class="breadcrumb-text">
					<h1>Categoría de Videojuegos</h1>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- end breadcrumb -->

<!-- categories -->
<div class="latest-news mt-150 mb-150">
	<div class="container">
		<div class="row">

			<div class="col-lg-4 col-md-6" th:each="category : ${categories}">
				<div class="single-latest-news">

					<a th:href="@{/categories/{id}(id=${category.id})}">
						<div class="latest-news-bg"
							 th:style="|background-image: url(@{/images/{img}(img=${#strings.isEmpty(category.image) ? 'categoriaGenerica.png' : category.image.replace('images/', '')})})|">
						</div>


					<div class="news-text-box">
						<h3>
							<a th:href="@{/categories/{id}(id=${category.id})}"
							   th:text="${category.name}">
								Nombre categoría
							</a>
						</h3>

						<p class="excerpt" th:text="${category.description}">
							Descripción categoría
						</p>

						<a th:href="@{/categories/{id}(id=${category.id})}" class="read-more-btn">
							Ver más <i class="fas fa-angle-right"></i>
						</a>
					</div>

				</div>
			</div>

		</div>
	</div>
</div>
<!-- end categories -->

<!-- logo carousel -->
<div class="logo-carousel-section">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="logo-carousel-inner">
					<div class="single-logo-item">
						<img th:src="@{/img/company-logos/1.png}" alt="">
					</div>
					<div class="single-logo-item">
						<img th:src="@{/img/company-logos/2.png}" alt="">
					</div>
					<div class="single-logo-item">
						<img th:src="@{/img/company-logos/3.png}" alt="">
					</div>
					<div class="single-logo-item">
						<img th:src="@{/img/company-logos/4.png}" alt="">
					</div>
					<div class="single-logo-item">
						<img th:src="@{/img/company-logos/5.png}" alt="">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- end logo carousel -->

<!-- footer -->
<div class="footer-area">
	<div class="container">
		<div class="row">
			<div class="col-lg-3 col-md-6">
				<div class="footer-box pages">
					<h2 class="widget-title">Páginas</h2>
					<ul>
						<li><a th:href="@{/}">Inicio</a></li>
						<li><a th:href="@{/about}">Sobre nosotros</a></li>
						<li><a th:href="@{/shop}">Shop</a></li>
						<li><a th:href="@{/categories}">Categorías</a></li>
						<li><a th:href="@{/contact}">Contacto</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- js -->
<script th:src="@{/js/jquery-1.11.3.min.js}"></script>
<script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/js/jquery.countdown.js}"></script>
<script th:src="@{/js/jquery.isotope-3.0.6.min.js}"></script>
<script th:src="@{/js/waypoints.js}"></script>
<script th:src="@{/js/owl.carousel.min.js}"></script>
<script th:src="@{/js/jquery.magnific-popup.min.js}"></script>
<script th:src="@{/js/jquery.meanmenu.min.js}"></script>
<script th:src="@{/js/sticker.js}"></script>
<script th:src="@{/js/main.js}"></script>

</body>
</html>
