<!DOCTYPE html>
<html lang="es" xmlns:th="https://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head(${title})}"></head>

<body>
<div th:replace="~{fragments/header :: preloader}"></div>

<div th:replace="~{fragments/header :: header}"></div>

<div th:replace="~{fragments/header :: busqueda}"></div>

<div th:replace="~{fragments/header :: breadcumb(${subtitulo}, ${titulo})}"></div>

<!-- categories -->
<div class="latest-news mt-150 mb-150">
	<div class="container">
		<div class="row">

			<div class="col-lg-4 col-md-6" th:each="category : ${categories}">
				<div class="single-latest-news">

					<div class="latest-news-bg"
						 th:style="|background-image: url(@{/images{img}(img=${#strings.isEmpty(category.image) ? 'categoriaGenerica.png' : category.image.replace('images/', '')})})|">
					</div>

					<div class="news-text-box">
						<h3>
							<a th:href="@{/categories/{id}(id=${category.id})}"
							   th:text="${category.name}">
								Nombre categoría
							</a>
						</h3>

						<p class="excerpt" th:text="${category.description}">
							Descripción categoría
						</p>

						<a th:href="@{/categories/{id}(id=${category.id})}" class="read-more-btn">
							Ver más <i class="fas fa-angle-right"></i>
						</a>
					</div>

				</div>
			</div>

		</div>
	</div>
</div>
<!-- end categories -->

<div th:replace="~{fragments/footer :: carousel}"></div>

<div th:replace="~{fragments/footer :: footer}"></div>

<div th:replace="~{fragments/footer :: copyright}"></div>

<th:block th:replace="~{fragments/scripts :: scripts}"></th:block>
</body>
</html>
