<!DOCTYPE html>
<html lang="es" xmlns:th="https://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head(${title})}"></head>

<body>
<div th:replace="~{fragments/header :: preloader}"></div>

<div th:replace="~{fragments/header :: header}"></div>

<div th:replace="~{fragments/header :: busqueda}"></div>

<div th:replace="~{fragments/header :: breadcumb(${subtitulo}, ${titulo})}"></div>

<div class="single-product mt-150 mb-150">
  <div class="container">
    <div class="row">
      <!-- Imagen grande -->
      <div class="col-md-5">
        <div class="single-product-img">
          <img th:with="imgName=${#strings.isEmpty(product.image) ? 'imagenGenerica.png' : product.image.replace('images/products/', '')}"
               th:src="@{/images/products/{img}(img=${imgName})}"
               alt="Imagen de categoría">
        </div>
      </div>
      <!-- Detalles del producto -->
      <div class="col-md-7">
        <div class="single-product-content">
          <h3 th:text="${product.name}">Nombre Producto</h3>
          <p><strong>Desarrolladora:</strong> <span th:text="${product.brand.name ?: 'Sin desarrolladora'}">Desarrolladora</span></p>
          <p><strong>Categoria:</strong> <span th:each="category : ${product.categories}"><a th:href="@{/categories/{id}(id=${category.id})}" th:text="${category.name} + ' '">Nombre de la categoria</a></span></p>
          <p><strong>Precio:</strong> €<span th:text="${product.price}">0.0</span></p>
          <p><strong>Descuento:</strong> <span th:text="${product.discount}">0</span>%</p>
          <p><strong>Código EAN-13:</strong> <span th:text="${product.ean}">0000000000000</span></p>
          <p th:text="${product.description}">Descripción completa del producto...</p>

          <div class="single-product-form">
            <a th:href="@{/products}" class="cart-btn"><i class="fas fa-arrow-left"></i> Volver a productos</a>
            <a href="#" class="cart-btn"><i class="fas fa-shopping-cart"></i> Añadir al carrito</a>
          </div>

          <h4>Compartir:</h4>
          <ul class="product-share">
            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
            <li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<div th:replace="~{fragments/footer :: carousel}"></div>

<div th:replace="~{fragments/footer :: footer}"></div>

<div th:replace="~{fragments/footer :: copyright}"></div>

<th:block th:replace="~{fragments/scripts :: scripts}"></th:block>
</body>
</html>
